html {
  height: 100%;
}

body {
  background-image: url(images/sandro-katalina-k1bO_VTiZSs-unsplash.jpg);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
  
.box {
  display: inline-block;       
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
  }

.off {
  background-color: lightgray;
}

.on {
  background-color: #3B0086;
}
  
.box:hover { 
  background: #EA7AF4;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
}
  
h1, h2, h3, h4, h5 {
  color: white;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
  padding: 10px;
  font-family: "Russo One";
}

h4 {
  margin-top: 0px;
}

.btn {
  margin: 5px;
}

footer {
  color: white;
  text-align: center;
  margin-top: auto;
}

.rules {
  margin-top: 40px;
  margin-bottom: 30px;
}

p {
  color: white;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
  font-weight: bold;
}
